@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Related style*/
.heading-title {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.description {
    font-size: 1rem;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.btn-primary {
    width: 224px;
    height: 54px;
    font-size: 1.1rem;
    font-weight: 600px;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    cursor: pointer;
}

.btn-primary:hover {
    background: rgb(179, 90, 76);
    transition: all .2s;
}

/*background-style*/
.bg-container {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(119, 119, 119, 0) 0%, rgb(36, 35, 35) 50%, rgb(119, 119, 119, 0)100%);
}

.bg-content {
    max-width: 1044px;
    margin: 0 auto;
}

.bg-container img {
    padding-right: 20px;
}

/*nav-bar-style-start*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
}

.nav-items {
    display: flex;
    gap: 3rem;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    justify-items: center;
    align-items: center;
}

#Hamburger-icon {
    display: none;
    height: 30px;
    width: 30px;
}

.title {
    font-size: 2.1rem;
    color: rgb(230, 83, 60);
    font-weight: 800px;
}

.nav-items p {
    font-size: 1.1rem;
    font-weight: 400px;
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

.fa-solid {
    display: none;
}

.btn-home {
    font-size: 18px;
    font-weight: 400px;
    color: white;
    width: 92px;
    height: 38px;
    border: 1px solid rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}

.btn-home:hover {
    background: rgba(230, 83, 60, 0.678);
    transition: all .5s;
}

/*nav-bar-style-start*/

/*get-body-section-start*/
.banner-content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 65%;
}

#text-style {
    font-family: 'Miama', sans-serif;
    font-size: 4.6rem;
    font-weight: 12;
    font-style: italic;
}

.banner-content h1 {
    font-size: 4.8rem;
    font-weight: 900px;
    width: 520px;
    height: 241px;
    line-height: 80px;
}

.banner-content p {
    margin: 24px 0px;
    max-width: 80%;

}

#download-btn {
    width: 224px;
    height: 54px;
    font-size: 1.1rem;
    font-weight: 600px;
    padding: 16px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    background: black;
    margin-left: 14px;
    cursor: pointer;
}

#download-btn:hover {
    background: rgb(230, 83, 60);
    transition: all 1s;
    border: 1px solid rgb(230, 83, 60);
}

.banner-img {
    position: relative;
    width: 350px;
    height: 580px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-card,
.banner-card-1 {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.418);
    display: flex;
    gap: 10px;

}

.banner-card-1 {
    width: 193px;
    height: 98px;
    top: 23%;
    left: 64%;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 16px 22px;
    font-size: 14px;
    line-height: 20px;
}

#card-num {
    text-align: left;
    font-weight: 900px;
}

.banner-card {
    width: 193px;
    height: 96px;
    top: 420px;
    left: -110px;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button {
    display: none;
}

#youtube {
    display: none;
}

.banner-img .card-title {
    font-size: 1.5rem;
    font-weight: 900px;
    color: white;
}

.banner-img h1 {
    font-size: 2.5rem;
    font-weight: 900px;
    color: white;
}

.banner-img,
.description {
    color: rgba(239, 237, 232, 0.65);
}

/*get-body-section-ends*/

/* Change-Your-Habits-section-start */
.habits-container {
    text-align: center;
    margin: 0 auto;
    justify-items: center;
    margin-top: 100px;
}

#habit-description {
    width:670px;
    margin:14px auto 54px;
}

.habits-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.habits-img-content p {
    width: 231px;
    margin: 0 auto;
}

.habits-img img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    gap: 20px;
    border: 4px solid rgba(41, 33, 33, 0.979);
}

.habits-item {
    font-size: 1.1rem;
    font-weight: 600px;
    margin-top: 30px;
}

/* Change-Your-Habits-section-ends*/

/* run-section-start */
.run-section-container {
    height: 371px;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 32px 30px 52px;
}

.run-section-content p {
    width: 443px;
}

#btn-join {
    margin-top: 34px;
}

.img-run {
    width: 366px;
    height: 312px;
    border: none;
}

.img-run img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 18px;
}

/* run-section-ends*/

/* Trainings and Exercises start */
.exercises-section-container {
    margin-top: 100px;
}

.exercises-img-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 50px;
}

#training-heading-content p {
    max-width: 671px;
}

.exrcises-img img {
    width: 100%;
    height: 100%;
}

.Exercise-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    padding-left: 30px;
    text-align: left;
}

#Exercise-title-3 {
    color: white;
    margin-top: 210px;
}

#Exercise-title-1,
#Exercise-title-5,
#Exercise-title-6 {
    margin-top: 220px;
    position: absolute;
}

#img-1 {
    grid-column: 1/4;
    grid-row: 1/3;
    position: relative;
}

#Exercise-1,
#Exercise-2,
#Exercise-3,
#Exercise-4,
#Exercise-5,
#Exercise-6 {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
    top: 0;
}

#Exercise-title-1 {
    color: rgb(0, 0, 0);
}

#img-2 {
    grid-column: 4/10;
    grid-row: 1/3;
    position: relative;
}

#Exercise-2 {
    background-color: rgba(255, 0, 0, 0.3);
}

#Exercise-title-2 {
    margin-top: 30px;
    margin-left: 18px;
}

#img-3 {
    grid-column: 10/14;
    grid-row: 1/3;
    position: relative;
}

#Exericise-3 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#img-4 {
    grid-column: 1/6;
    grid-row: 3/5;
    position: relative;
}

#Exercise-4 {
    background-color: rgba(0, 0, 0, 0.5);
}

#Exercise-title-4 {
    margin-left: 200px;
    margin-top: 30px;
}

#img-5 {
    grid-column: 6/9;
    grid-row: 3/5;
    position: relative;
}

#Exercise-5 {
    background-color: rgba(66, 255, 0, 0.3);
}

#img-6 {
    grid-column: 9/14;
    grid-row: 3/5;
    position: relative;
}

#Exercise-6 {
    background-color: rgba(0, 71, 255, 0.3);
}

/* Trainings and Exercises ends */

/* BMI-Calculator-section-start */
.bmi-container {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.heading-content {
    width: 660px;
}

#bmi-content {
    display: flex;
    justify-content: space-between;
    gap: 155px;
}

.bmi-calculator {
    width: 100% !important;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    margin-bottom: 80px;
    padding: 50px;
}

.table {
    width: 310px;
    height: 216px;
    text-align: left;
}

.table,
tr,
th,
td {

    border-collapse: collapse;
    padding-left: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.table-title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 52px;
}

.input-content {
    width: 577px;
}

#bmi-heading {
    margin-bottom: 14px;
}

#bmi-peragraph {
    margin-bottom: 34px;
}

.input-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#gender {
    width: 92%;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    background: transparent;
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
}

#gender-container {
    width: 282.5px;
    padding: 12px 0px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
}

#input-select-main {
    width: 100%;
    height: 48px;
    padding: 12px 0px 12px 17px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 34px;
}

#activity {
    width: 96%;
    letter-spacing: 1px;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    background: transparent;
}

.input-button {
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
}

.input-button,
#activity,
option {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}

/* BMI-Calculator-section-ends */

/* Meet-Our-Team-section-start */
.our-team-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.our-team-content p {
    margin-top: 14px;
    margin-bottom: 58px;
}

.img-container {
    width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    text-align: center;
    border-radius: 18px;
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;

}

.img-card {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    color: rgba(0, 0, 0, 0.2);
    filter: brightness(85%);
    background-position: center;
}

.card-1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-content {
    position: absolute;
    top: 80%;
    left: 5%;
    text-align: left;
}

/* Meet-Our-Team-section-ends */

/* footer-section-start */
footer {
    background: rgba(255, 255, 255, 0.1);
    height: 510px;
}

.footer-content {
    width: 1044px;
    margin: 66px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 80px;
}

#items-content {
    display: flex;
    align-items: center;
    gap: 150px;
}

#footer-heading h1 {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-weight: 800;
    text-align: left;
}

#footer-heading p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 20px;
    width: 443px;
}

.list-items h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    margin-bottom: 40px;
}

.list-items ul>li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin-top: 20px;

}

.copy-right {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    margin-top: 35px;
}

/* footer-section-ends */

/*responsive-mobile */
@media screen and (max-width:576px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        padding-top: 58px;
        padding-left: 10px;
        margin: 0 auto;
    }

    .nav-items {
        display: none;
    }

    #Hamburger-icon {
        display: block;
    }

    #play-button {
        display: block;
        width: 25px;
        height: 25px;

    }

    .title {
        margin-left: -12px;
        padding-left: 0px;
    }

    /* get-body-section-start-responsive-for-mobile*/
    .bg-content {
        width: 90%;
        margin: 0 auto;
    }

    .banner-img {
        margin-top: 47px;
    }

    .banner-content-section {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content h1 {
        font-size: 2.1rem;
        font-weight: 700px;
        width: 265px;
        height: auto;
        line-height: 40px;
        margin-top: 50px;
    }

    .banner-content p {
        max-width: 70%;
    }

    #text-style {
        font-family: 'Miama', sans-serif;
        font-size: 1.8rem;
        font-style: italic;
    }

    .description {
        margin-top: 30px;
    }

    .btn-primary,
    #download-btn {
        width: 100%;
        padding: 10px 20px;
        letter-spacing: 1px;
    }

    .btn-phone {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .banner-card {
        top: 240px;
        left: 0px;
    }

    .banner-card-1 {
        top: 6%;
        left: 52%;
        width: 50%;
    }

    /* get-body-section-ends-responsive-for-mobile*/

    /* change-your-habits-section-start-responsive-for-mobile*/
    .habits-container {
        width: 318px;
        height: 124px;
        margin-top: 0px;
        position: relative;
    }

    .heading-title {
        font-size: 2rem;
    }
    #habit-description{
        width:100%;
    }
    #description-phone {
        margin-top: 6px;
        margin-bottom: 35px;
    }

    .habits-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
    }

    .habits-item {
        font-size: 1.1rem;
        font-weight: 600px;
        margin-top: 30px;
    }

    /* change-your-habits-section-ends-responsive-for-mobile*/

    /* run-section-start-responsive-for-mobile*/
    .run-section-container {
        flex-direction: column;
        width: 90%;
        height: 100%;
        padding: 31px 33px 35px 33px;
        margin-top: 1450px;
    }

    .run-section-content p {
        width: 100%;
    }

    #btn-join {
        margin-top: 34px;
        width: 100%;
        margin-top: 24px;
    }

    .img-run {
        margin-top: 31px;
        width: 100%;
        height: 100%;
    }

    /* run-section-ends-responsive-for-mobile*/

    /* training-and-exercises-section-start-responsive-for-mobile*/
    .exercises-section-container {
        width: 90%;
        margin-top: 66px;
    }

    #training-heading-content {
        margin-right: 30px;
    }

    .exercises-img-container {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
    }

    #img-2 {
        grid-column: 12/24;
        grid-row: 1/3;
    }

    #img-1 {

        grid-column: 1/12;
        grid-row: 1/3;
    }

    #img-4 {
        grid-column: 1/11;
        grid-row: 3/6;
    }

    #img-5 {
        grid-column: 11/24;
        grid-row: 3/6;
    }

    #img-3,
    #img-6 {
        display: none;
    }

    .Exercise-title {
        font-size: 1.1rem;
    }

    #Exercise-title-5 {
        margin-top: 50%;
        margin-left: -6%;
    }

    #Exercise-title-4 {
        margin-top: 65%;
        margin-left: -10%;
    }

    #Exercise-title-2 {
        margin-left: 0px;
    }

    #Exercise-title-1 {
        margin-top: 60%;
        margin-left: -10%;
    }

    /* training-and-exercises-section-ends-responsive-for-mobile*/

    /* bmi-calculator-section-start-responsive-for-mobile*/
    .bmi-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 30px auto 32px;
        padding-left: 20px;
        padding-right: 23px;
    }

    .heading-content {
        width: 100%;
    }

    #bmi-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .bmi-calculator {
        margin-bottom: 56px;
        padding-left: 21px;
        padding-right: 21px;
    }

    #calculator-content {
        margin-top: -40px;
    }

    .table {
        width: 310px;
        height: 216px;
    }

    .table-title {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 600;
    }

    #bmi {
        margin-top: 34px;
        margin-bottom: 23px;
    }

    .input-content {
        width: 100%;
    }

    #bmi-heading {
        margin-top: -82px;
        margin-bottom: -14px;
    }

    #bmi-peragraph {
        margin-top: 30px;
        margin-bottom: 34px;
    }

    .input-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding-top: 12px;
    }

    .input-button {
        width: 100%;
        margin-bottom: 12px;
    }

    .input-button,
    #activity,
    option {
        color: rgba(255, 255, 255, 0.3);
        font-size: 1rem;
    }

    #gender {
        width: 97%;
    }

    #gender-container {
        width: 100%;
        padding: 12px 13px 12px 20px;
    }

    #input-select-main {
        margin-top: 12px;
    }

    #btn {
        width: 224px;
    }

    /* bmi-calculator-section-ends-responsive-for-mobile*/

    /* meet-our-team-section-start-responsive-for-mobile*/
    #img-for-mobile {
        display: none;
    }

    .our-team-container {
        width: 90%;
        margin-top: 76px;
    }

    .img-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-content {
        line-height: 0px;
    }

    .card-1 {
        width: 100%;
        height: 100%;
    }

    .img-card {
        width: 100%;
        height: 100%;
    }

    .description {
        margin-top: 15px;
    }

    /* meet-our-team-section-ends-responsive-for-mobile*/

    /* footer-section-start-responsive-for-mobile*/
    footer {
        height: 100%;
        margin-top: 66px;
    }

    .footer-content {
        width: 90%;
        flex-direction: column;
    }

    #items-content {
        display: contents;
    }


    #footer-heading p {
        margin-top: 20px;
        font-size: 1rem;
        width: 90%;
    }

    .list-items h3 {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .copy-right {
        padding-bottom: 50px;
    }
}

/* footer-section-ends-responsive-for-mobile*/

/*responsive-for-laptop*/

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .nav-items {
        display: flex;
        gap: .5rem;
    }

    #Hamburger-icon {
        display: none;
    }

    /* get-body-section-start-responsive-for-laptop*/
    .banner-content-section {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 70px;
    }

    .banner-content-section {
        gap: 50px;
    }

    .banner-card {
        top: 60%;
        left: -13%;
    }

    .banner-card-1 {
        top: 6%;
        left: 52%;
        width: 50%;
    }

    /* get-body-section-ends-responsive-for-laptop*/

    /* change-your-habits-section-start-responsive-for-laptop*/
    .habits-container {
        margin-top: 30px;
    }

    #description-phone {
        margin-top: 6px;
    }
    #habit-description{
        width:60%;
    }
    .habits-img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: 0 auto;
        gap: 40px;
    }

    /* change-your-habits-section-ends-responsive-for-laptop*/

    /* run-section-start-responsive-for-laptop*/
    .run-section-container {
        gap: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .run-section-content p {
        max-width: 300px;
    }

    .heading-title {
        font-size: 2.2rem;
    }

    /* run-section-ends-responsive-for-laptop*/

    /* training-and-exercises-section-start-responsive-for-laptop*/
    .exercises-section-container {
        width: 90%;
    }

    .Exercise-title {
        font-size: .9rem;
    }

    #Exercise-title-1,
    #Exercise-title-5 {
        margin-top: 90%;
        margin-left: -8%;
    }

    #Exercise-title-3 {
        margin-top: 68%;
    }

    #Exercise-title-4,
    #Exercise-title-6 {
        margin-top: 53%;
        margin-left: -4%;
    }

    /* training-and-exercises-section-ends-responsive-for-laptop*/

    /* bmi-calculator-section-start-responsive-for-laptop*/
    .bmi-container {
        margin: 30px auto 32px;
    }

    #bmi-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #calculator-content {
        margin-top: -40px;
    }

    #bmi-peragraph {
        width: 80%;
    }

    .table {
        width: 310px;
        height: 216px;
    }

    #bmi {
        margin-top: 34px;
        margin-bottom: 23px;
    }

    .input-content {
        width: 100%;
    }

    #bmi-heading {
        margin-top: -82px;
        margin-bottom: -14px;
    }

    #bmi-peragraph {
        margin-top: 30px;
        margin-bottom: 34px;
    }

    .input-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding-top: 12px;
    }

    .input-button {
        width: 100%;
        margin-bottom: 12px;
    }

    .input-button,
    #activity,
    option {
        color: rgba(255, 255, 255, 0.3);
        font-size: 1rem;
    }


    #gender-container {
        width: 100%;
        padding: 12px 13px 12px 20px;
    }

    #gender,
    #activity {
        width: 97%;
    }

    #input-select-main {
        margin-top: 12px;
    }

    #btn {
        width: 224px;
    }

    /* bmi-calculator-section-ends-responsive-for-laptop*/

    /* meet-our-team-section-start-responsive-for-laptop*/

    .our-team-container {
        width: 95%;
        margin-top: 76px;
    }

    .img-container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .card-content {
        line-height: 0px;
    }

    .img-card {
        width: 100%;
        height: 100%;
    }

    .card-1 {
        width: 100%;
        height: 100%;
    }

    .card-content h3 {
        font-size: 1rem;
        color: white;
    }

    .description {
        margin-top: 8px;
    }
    /* meet-our-team-section-ends-responsive-for-laptop*/

    /* footer-section-start-responsive-for-mobile*/
    footer {
        height: 100%;
        margin-top: 66px;
    }

    .footer-content {
        width: 90%;
        flex-direction: column;
    }

    #items-content {
        margin-top: 30px;
    }

    #footer-heading h1 {
        margin-top: 20px;
    }

    #footer-heading p {
        margin-top: 20px;
        font-size: 1rem;
    }

    .list-items h3 {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .copy-right {
        padding-bottom: 50px;
    }

    /* footer-section-ends-responsive-for-mobile*/
}